/* CTA Area 1 ---------------------------------- */
.cta-area-1 {
    position: relative;
    margin-top: -200px;
    z-index: 3;
}
.cta-wrap-1 {
    padding: 70px 202px 70px 70px;
    background: $white-color;
    box-shadow: 0px 30px 150px rgba(31, 31, 31, 0.1);
    .btn {
        padding: 15px 30px;
    }
    @include ml {
        padding: 70px 130px 70px 70px;
    }
    @include lg {
        padding: 70px;
    }
    @include xs {
        padding: 30px;
    }
}
.cta-thumb1-1 {
    margin-left: -111px;
    position: relative;
    z-index: 3;
    @include lg {
        margin-left: 0;
    }
    @include md {
        display: none;
    }
}
/* CTA Area 2 ---------------------------------- */
.cta-wrap2 {
    background: $theme-color;
    padding: 50px;
    display: inline-flex;
    gap: 123px;
    text-align: start;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        background: linear-gradient(270deg, #FFFFFF -1.27%, rgba(255, 255, 255, 0.23) -1.26%, rgba(255, 255, 255, 0) 100%);
        width: 39.5px;
        height: 100%;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
        top: 0;
        left: 45%;
        transform: translate(-50%, 0);
    }
    .cta-title {
        font-size: 32px;
        font-weight: 600;
        color: $white-color;
        margin-bottom: 8px;
    }
    .cta-text {
        color: $white-color;
        margin-bottom: 0;
    }
    .cta-contact-grid {
        display: flex;
        gap: 30px;
        align-items: center;
        .icon-btn {
            --btn-size: 56px;
            flex: none;
            background: $white-color;
            color: $theme-color;
            i {
                font-size: 24px;
            }
        }
        .cta-contact-grid-details {
            .link {
                font-size: 32px;
                font-weight: 600;
                font-family: $title-font;
                color: $white-color;
                margin-bottom: 18px;
                display: block;
                position: relative;
                &:after {
                    content: '';
                    position: absolute;
                    bottom: -3px;
                    left: 0;
                    height: 1px;
                    width: 0;
                    background: $white-color;
                    transition: 0.4s;
                }
                &:hover {
                    &:after {
                        width: 100%;
                    }
                }
            }
            .title {
                font-size: 16px;
                font-weight: 400;
                color: $white-color;
                opacity: 0.9;
                margin-bottom: 0;
            }
        }
    }
    @include lg {
        display: flex;
        margin-top: 80px;
        &:after {
            left: 40%;
        }
    }
    @include md {
        flex-wrap: wrap;
        gap: 30px;
        &:after {
            display: none;
        }
    }
    @include xs {
        padding: 30px;
        .cta-title {
            font-size: 28px;
        }
        .cta-contact-grid {
            gap: 20px;
            flex-wrap: wrap;
        }
        .cta-contact-grid .cta-contact-grid-details .link {
            font-size: 24px;
        }
    }
}
.cta-grid-wrap {
    display: flex;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    .icon-btn {
        flex: none;
        --btn-size: 60px;
        background: $theme-color;
        color: $white-color;
        i {
            font-size: 24px;
        }
    }
    .media-body {
        .link {
            font-size: 24px;
            font-weight: 600;
            font-family: $title-font;
            color: $title-color;
        }
        .title {
            font-size: 16px;
            font-weight: 400;
            color: $body-color;
            margin-bottom: 0;
        }
    }
}

/* CTA Area 3 ---------------------------------- */
.cta-wrap3 {
    padding: 185px 0;
    .sub-title {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .cta-title {
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: -0.3em;
        &.style2 {
            font-size: 120px;
            font-weight: 600;
            -webkit-text-stroke: 1px $white-color;
            color: transparent;
            margin-top: -0.3em;
            margin-bottom: 10px;
        }
    }
    @include ml {
        padding: 150px 0;
        .cta-title {
            font-size: 70px;
            &.style2 {
                font-size: 100px;
            }
        }
    }
    @include lg {
        padding: 120px 0;
        .cta-title {
            font-size: 60px;
            &.style2 {
                font-size: 90px;
            }
        }
    }
    @include md {
        .cta-title {
            font-size: 60px;
            &.style2 {
                font-size: 70px;
            }
        }
    }
    @include sm {
        padding: 100px 30px;
        .sub-title {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .cta-title {
            font-size: 40px;
            &.style2 {
                font-size: 50px;
            }
        }
    }
    @include xs {
        .cta-title {
            &.style2 {
                font-size: 46px;
            }
        }
    }
}

/* CTA Area 4 ---------------------------------- */
.cta-wrap4 {
    padding: 185px 0;
    position: relative;
    &:after {
        content: '';
        position: absolute;
        height: 495px;
        width: 495px;
        border-radius: 50%;
        background: $title-color;
        mix-blend-mode: soft-light;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        @include lg {
            width: 400px;
            height: 400px;
        }
        @include sm {
            width: 350px;
            height: 350px;
        }
        @include xs {
            display: none;
        }
    }
    .sub-title {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .cta-title {
        font-size: 90px;
        font-weight: 700;
        margin-bottom: 0;
        margin-top: -0.3em;
        &.style2 {
            font-size: 120px;
            font-weight: 600;
            -webkit-text-stroke: 1px $white-color;
            color: transparent;
            margin-top: -0.3em;
            margin-bottom: 10px;
        }
    }
    @include ml {
        padding: 150px 0;
        .cta-title {
            font-size: 70px;
            &.style2 {
                font-size: 100px;
            }
        }
    }
    @include lg {
        padding: 120px 0;
        .cta-title {
            font-size: 60px;
            &.style2 {
                font-size: 90px;
            }
        }
    }
    @include md {
        .cta-title {
            font-size: 60px;
            &.style2 {
                font-size: 70px;
            }
        }
    }
    @include sm {
        padding: 100px 30px;
        .sub-title {
            font-size: 16px;
            margin-bottom: 20px;
        }
        .cta-title {
            font-size: 40px;
            &.style2 {
                font-size: 50px;
            }
        }
    }
    @include xs {
        .cta-title {
            &.style2 {
                font-size: 46px;
            }
        }
    }
}

.cta-wrap5 {
    padding: 65px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -150px;
    position: relative;
    z-index: 2;
    flex-wrap: wrap;
    gap: 35px;
    .cta-title {
        font-size: 42px;
        font-weight: 600;
        max-width: 585px;
        margin-bottom: 0;
    }
    .btn {
        flex: none;
    }
    @include ml {
        padding: 65px 70px;
    }
    @include lg {
        .cta-title {
            font-size: 30px;
            max-width: 450px;
        }
    }
    @include md {
        padding: 40px 40px 50px;
        text-align: center;
        justify-content: center;
    }
    @include xs {
        padding: 30px 30px 30px;
        .cta-title {
            font-size: 24px;
        }
    }
    @include vxs {
        .btn {
            padding: 15px 25px;
            font-size: 14px;
        }
    }
}